{% extends "layout/main.html" %} <!-- Verknüpfung zu main.html ermöglicht die Vererbung eines Seitenaufbaus -->

{% block content %} <!-- Aufgrund des main.html kann hier ein content block mit {} definiert werden. -->
    {% if name != None: %}
        <h1>Der Name ist: {{ name }}</h1>
    {% endif %}

    <form method ="get"> <!-- ertellen eines Formulars -->
        <label for="name"> Name: </label>
        <input type="text" name="name" id="name" value ="{%if name != None%}{{ name }}{% endif %}" /> <!-- Textfeld definieren; id ist notwendig für das Label damit die Beschriftung passt.;
        value ={{ name }} gibt automatisch den eingegeben Namen in das Textfeld zurück -->

        <label for="age"> Alter: </label>
        <input type="text" name="age" id="age" /> <!-- Textfeld definieren -->

        <br>

        <input type="submit" value="Formular abschicken" /><!-- Button mit abschicken erstellen -->
    </form>
{% endblock %}